<form id="login-form">
        <legend id="form-legend">Login</legend>
        <input placeholder="Username" id="username" class ="form-item" name="username">
        <input placeholder="Password" id="password" class ="form-item" name="password">
        <button id="submit-button"> Login </button>
</form>
<a href = "http://localhost:4001/signup"class ="links">Sign up</a>