<form id="login-form">
        <legend id="form-legend">Login</legend>
        <input placeholder="email" id="email-login" class ="form-item" name="email">
        <input placeholder="Password" id="password-login" class ="form-item" name="password">
        <button id="submit-button"> Login </button>
</form>
<a href = "/signup"class ="links">Sign up</a>

<script src="/js/login.js"></script>