<p>Create new post</p>
<form id="login-form">
    <legend id="form-legend">Title</legend>
    <input placeholder="title" id="title" class ="form-item" name="title">
    <textarea placeholder="content" id="content" class ="form-item" name="content"></textarea>
    </form>