<form id="signup-form">
    <legend id="form-legend">Sign up</legend>
    <input placeholder="Name" id="name" class ="form-item" name="name">
    <input placeholder="Email" id="email" class ="form-item" name="email">
    <input placeholder="Password" id="password" class ="form-item" name="password" type="password">
    <input placeholder="Confirm Password" id="confirm-password" class ="form-item" name="confirm-password" type="password">

    <button id="submit-button"> Sign up </button>
</form>
<a href = "/login" class ="links">login</a>
<script src="./js/signup.js"></script>