/* pallette  9B1D20 3D2B3D 635D5C CBEFB6 D0FFCE*/



body{
    background-color: #D0FFCE;
}
#navbar {
    padding-inline-start: 20px;
    display:flex;
    flex-direction: row;
}

.navbar-items {
    margin-right:40px;
    list-style: none;
    color: #635D5C;
    font-size: 25px;
    font-family: sans-serif;
    font-weight: bold;
}

#title-section{
    padding-inline-start: 20px;
    width:100%  ;
    display:flex;
    background-color: #CBEFB6;
    font-family: sans-serif;
}

#login-form {
 display:flex;
 flex-direction: column;
}

#signup-form{
    display:flex;
    flex-direction: column;
}

#post-form{
    display:flex;
    flex-direction: column;
}

.form-item{
    width:20%
}

#submit-button{
    width:20.5%;
}

.links{
    color:darkblue;
    text-decoration: underline;
}

#new-post-btn{
    position: fixed;
    bottom: 5px;
    left: 5px;
}   

a{
    text-decoration: none;
}

.row-mb-4{
    border-style: solid;
    border-color: black;
    margin: 15px;
}

.titlebox{
    background-color: #635D5C;
    margin: 0px;
}

a:visited{
    color: #2e0102
}

.username {
    font-size: 20px;
    color: #8f4419;
}

#comment-box{
    border-style: solid;
    border-color: black;
    margin: 10px 0px 10px 2px;
}